/* index */
.FullWidth {
  width: 100%;
}

.DateContainer {
  width: 100%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* SchedulerDatePicker */
.icon:hover {
  color: #1890ff;
}

/* ShiftList */
.TaskCard {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 0.8em;
  margin-right: 1em;
  margin-bottom: 1em;
}

/* ViewMode */
