.SchedulerView table > tbody > tr:hover > td {
  background: #ffffff !important;
}

.SchedulerView table > thead > tr > th {
  display: table-cell;
}

.PopoverEventTime {
  text-align: center;
  font-weight: 500;
  font-size: 1.5em;
  margin-top: 0.75em;
}

.Title {
  height: 46px;
  text-align: center;
  line-height: 46px;
}
