.ScheduleViewBodyTable table > tbody > tr:hover > td {
  background: #ffffff !important;
}
.ScheduleViewBodyTable table > thead > tr > th {
  display: table-cell;
}

.SchedulerViewHeader {
  overflow: hidden;
  height: 46px;
}
.PopoverEventTime {
  text-align: center;
  font-weight: 500;
  font-size: 1.5em;
  margin-top: 0.75em;
}

.ScheduleViewHeaderTable th {
  height: 46px;
  text-align: center !important;
  border-bottom: 0 !important;
  border-right: 1px solid #f0f0f0;
}

.ant-table-fixed {
  table-layout: fixed;
}

