/* index */
.ResourceView {
  overflow: hidden;
  border: 1px solid #f0f0f0f0;
}

/* ResourceCellContent */
.ResourceCellContent {
  overflow-y: hidden;
  text-overflow: ellipsis;
  white-space: nowrap !important;
  flex-flow: nowrap !important;
  padding: 10px;
  width: auto;
}
.ResourceCellContent p:nth-child(1) {
  margin: 0px;
}

/* ResourceViewBody */
.ResourceViewBody {
  margin: 0;
  overflow: auto;
}

.ResourceViewBodyTableContainer {
  padding: 0;
}

/* ResourceViewHeader */
.ResourceViewHeader {
  height: 46px;
  overflow: hidden;
}

.ResourceViewHeaderTable th {
  height: 46px;
  text-align: center !important;
  border: 0 !important;
}

.ResourceViewHeaderTableContainer {
  margin: 0;
  overflow: scroll hidden;
}
