.ResourceCellContent {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 10px;
}
.ResourceCellContent p:nth-child(1) {
  margin: 0px;
}

.ResourceCellContent > div {
  display: inline-block !important;
}

.ResourceView {
  overflow: hidden;
  border: 1px solid #f0f0f0f0;
}
.ResourceViewHeader {
  height: 46px;
  text-align: center;
  line-height: 46px;
  overflow: hidden;
}

.ResourceViewContent {
  overflow: auto;
  margin: 0;
}

.ResourceViewHeaderTable th {
  height: 46px;
  text-align: center !important;
  border: 0 !important;
}
