/* add css module styles here (optional) */
body {
  box-sizing: border-box;
}
.Scheduler {
  margin: 0 auto;
}
.Scheduler > table {
  table-layout: fixed;
}
.Scheduler > table > tbody > tr > td {
  padding: 0;
}
table > thead > tr > th {
  padding: 0 !important;
}

table > tbody > tr > td {
  padding: 0 !important;
}
