/* add css module styles here (optional) */
body {
  box-sizing: border-box;
}

.Scheduler > table {
  width: 100%;
  table-layout: fixed;
}
.Scheduler > table > tbody > tr > td {
  padding: 0;
}
.ResourceViewTd {
  width: 20%;
  overflow: scroll;
}
table > thead > tr > th {
  padding: 0 !important;
}

table > tbody > tr > td {
  padding: 0 !important;
}
